{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row " id="banner4">
<div class="col-md-12">
<h1 class="text-center style8 display-1">About Us</h1>
</div>
</div>

<div class="row p-5">
<h1 class="text-center display-5">I’m Hannah Wilson, a nutrition consultant and award winning author.</h1>
<p class="text-center">I have tried many different ways to lose weight and have always failed. With this program I learned how to understand the food I eat and how my body works with this food. They did not restrict my eating habits but showed me how to read labels and introduce healthier things into my diet.</p>
</div>


<div class="row">
<div class="col-md-12 p-5 ">

<div data-aos="flip-left"
       data-aos-duration="3000">
<h4 class="text-center bg-secondary text-light p-3" > Diet & Nutritionist Services</h4>
</div>
</div>
</div>




<div class="row p-3">
<div class="col-md-4">
<div data-aos="fade-up"
     data-aos-duration="7000">
<img src="{% static 'image/offer.jpg' %}" height="400px" width="100%"/>
</div>
<h4 class="text-center">Easy Meal Prep and Simple Recipes</h4>
<p class="text-center">Preparing quick and delicious meals 3 times a day might seem impossible with everything else you have going on in your life! But by using some simple tips and by planning ahead, you’ll be blown away by how easy cooking delicious food can be.</p>
</div>
<div class="col-md-4">
<div data-aos="fade-up"
     data-aos-duration="5000">
<img src="{% static 'image/offer1.jpg' %}" height="400px" width="100%"/>
</div>
<h4 class="text-center">Pepper Power: Nutrition and Other Benefits</h4>
<p class="text-center">They're low in calories and are loaded with good nutrition. All varieties are excellent sources of vitamins A and C, potassium, folic acid, and fiber. Plus, the spicy ones liven up bland food, making it more satisfying.</p>
</div>
<div class="col-md-4">
<div data-aos="fade-up"
     data-aos-duration="5000">
<img src="{% static 'image/offer2.jpg' %}" height="400px" width="100%"/>
</div>
<h4 class="text-center">Clinical Nutrition</h4>
<p class="text-center">Clinical Nutrition, the official journal of ESPEN, The European Society for Clinical Nutrition and Metabolism, is an international journal providing essential scientific information on nutritional and metabolic care and the relationship between nutrition and disease both in the setting of basic science and clinical practice.</p>
</div>
</div>




<div class="row p-4 howtostart">
<div class="col-md-6">
<div data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
<h1 class="text-center display-5">If you’re ready to change your relationship with food for the better, follow me @healthfirst for daily meal plans and updates.</h1>
<div class="text-center p-5" id="link">
<button class="btn btn-dark btn-lg"><a href="/contect/"><h6>Contact Us</h6></a></button>
</div>
</div>
</div>
<div class="col-md-3">
<div class="col-md-12">
<img src="{% static 'image/indexnnnn.jpg' %}" class="p-2"height="200px" width="100%"/>
<img src="{% static 'image/indexnn.jpg' %}" class="p-2" height="200px" width="100%" />
</div>
</div>
<div class="col-md-3">
<div class="col-md-12">
<img src="{% static 'image/indexnnn.jpg' %}" class="p-2" height="200px" width="100%"/>
<img src="{% static 'image/about5.jpg' %}" class="p-2" height="200px" width="100%" />
</div>
</div>
</div>



<div class="row p-5">
<div class="col-md-12">
<div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
<h4 class="text-center display-5">Our team</h4>
<p class="text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam</br> nonumy eirmod tempor invidunt adhuc persius.</p>
</div>
</div>
</div>



<div class="row">
<div class="col-md-3">
<div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
<img src="{% static 'image/doc1.jpg' %}" height="500px" width="100%">
<h4>Dr. Jessica Olson</h4>
<h6>Nutritionist</h6>
</div>
</div>
<div class="col-md-3">
<div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
<img src="{% static 'image/doc2.jpg' %}" height="500px" width="100%">
<h4>Dr. Jessica Olson</h4>
<h6>Nutritionist</h6>
</div>
</div>
<div class="col-md-3">
<div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
<img src="{% static 'image/doc3.jpg' %}" height="500px" width="100%">
<h4>Dr. Jessica Olson</h4>
<h6>Nutritionist</h6>
</div>
</div>
<div class="col-md-3">
<div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
<img src="{% static 'image/doc4.jpg' %}" height="500px" width="100%">
<h4>Dr. Jessica Olson</h4>
<h6>Nutritionist</h6>
</div>
</div>
</div>


<div class="row p-5">
<div class="col-md-12">
<div data-aos="fade-down"
	data-aos-duration="2000">
<h1 class="text-center display-5">Our Weekly Diet Plan</h1>
<h6 class="text-center">Cook multiple things at once! You can actually bake chicken while roasting your veggies at the </br>same time. This will really help you to get things done much faster.</h6>
</div>
</div>
</div>



<div class="row p-3" id="dietplan">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="monday-tab" data-bs-toggle="tab" data-bs-target="#monday" type="button" role="tab" aria-controls="monday" aria-selected="true">Monday</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tuesday-tab" data-bs-toggle="tab" data-bs-target="#tuesday" type="button" role="tab" aria-controls="uesday" aria-selected="false">Tuesday</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="wednesday-tab" data-bs-toggle="tab" data-bs-target="#wednesday" type="button" role="tab" aria-controls="wednesday" aria-selected="false">Wednesday</button>
  </li>
   <li class="nav-item" role="presentation">
    <button class="nav-link" id="thuesday-tab" data-bs-toggle="tab" data-bs-target="#thuesday" type="button" role="tab" aria-controls="thuesday" aria-selected="false">Thuesday</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="friday-tab" data-bs-toggle="tab" data-bs-target="#friday" type="button" role="tab" aria-controls="friday" aria-selected="false">Friday</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="saturday-tab" data-bs-toggle="tab" data-bs-target="#saturday" type="button" role="tab" aria-controls="saturday" aria-selected="false">Saturday</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="sunday-tab" data-bs-toggle="tab" data-bs-target="#sunday" type="button" role="tab" aria-controls="sunday" aria-selected="false">Sunday</button>
  </li>
  
</ul>

<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="monday-tab">
  
<div class="row">
<div class="col-md-3">
<img src="{% static 'image/m.jpg' %}" height="400px" width="100%">
<h5>Quick and Easy Healthy Breakfast Idea</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/m1.jpg' %}" height="400px" width="100%">
<h5>Deliciously spicy Thai chili crab recipe</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/m2.jpg' %}" height="400px" width="100%">
<h5>Pumpkin soup with cheese and cinnamon</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/m3.jpg' %}" height="400px" width="100%">
<h5>Avocado toast with spinach and poach egg
Learn more</h5>
</div>
</div>
</div>



<div class="tab-pane fade" id="tuesday" role="tabpanel" aria-labelledby="tuesday-tab">
  
<div class="row">
<div class="col-md-3">
<img src="{% static 'image/t.jpg' %}" height="400px" width="100%">
<h5>Quick and Easy Healthy Breakfast Idea</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/t1.jpg' %}" height="400px" width="100%">
<h5>Deliciously spicy Thai chili crab recipe</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/t2.jpg' %}" height="400px" width="100%">
<h5>Pumpkin soup with cheese and cinnamon</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/t3.jpg' %}" height="400px" width="100%">
<h5>Avocado toast with spinach and poach egg
Learn more</h5>
</div>
</div>
</div>


<div class="tab-pane fade" id="wednesday" role="tabpanel" aria-labelledby="wednesday-tab">
<div class="row">
<div class="col-md-3">
<img src="{% static 'image/w.jpg' %}" height="400px" width="100%">
<h5>Quick and Easy Healthy Breakfast Idea</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/w1.jpg' %}" height="400px" width="100%">
<h5>Deliciously spicy Thai chili crab recipe</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/w2.jpg' %}" height="400px" width="100%">
<h5>Pumpkin soup with cheese and cinnamon</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/w3.jpg' %}" height="400px" width="100%">
<h5>Avocado toast with spinach and poach egg
Learn more</h5>
</div>
</div>
</div>


<div class="tab-pane fade" id="thuesday" role="tabpanel" aria-labelledby="thuesday-tab">
<div class="row">
<div class="col-md-3">
<img src="{% static 'image/th.jpg' %}" height="400px" width="100%">
<h5>Quick and Easy Healthy Breakfast Idea</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/th1.jpg' %}" height="400px" width="100%">
<h5>Deliciously spicy Thai chili crab recipe</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/th2.jpg' %}" height="400px" width="100%">
<h5>Pumpkin soup with cheese and cinnamon</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/th3.jpg' %}" height="400px" width="100%">
<h5>Avocado toast with spinach and poach egg
Learn more</h5>
</div>
</div>
</div>


<div class="tab-pane fade" id="friday" role="tabpanel" aria-labelledby="friday-tab">
<div class="row">
<div class="col-md-3">
<img src="{% static 'image/f.jpg' %}" height="400px" width="100%">
<h5>Quick and Easy Healthy Breakfast Idea</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/f1.jpg' %}" height="400px" width="100%">
<h5>Deliciously spicy Thai chili crab recipe</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/f2.jpg' %}" height="400px" width="100%">
<h5>Pumpkin soup with cheese and cinnamon</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/f3.jpg' %}" height="400px" width="100%">
<h5>Avocado toast with spinach and poach egg
Learn more</h5>
</div>
</div>
</div>

<div class="tab-pane fade" id="saturday" role="tabpanel" aria-labelledby="saturday-tab">
<div class="row">
<div class="col-md-3">
<img src="{% static 'image/s.jpg' %}" height="400px" width="100%">
<h5>Quick and Easy Healthy Breakfast Idea</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/s1.jpg' %}" height="400px" width="100%">
<h5>Deliciously spicy Thai chili crab recipe</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/s2.jpg' %}" height="400px" width="100%">
<h5>Pumpkin soup with cheese and cinnamon</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/s3.jpg' %}" height="400px" width="100%">
<h5>Avocado toast with spinach and poach egg
Learn more</h5>
</div>
</div>
</div>

<div class="tab-pane fade" id="sunday" role="tabpanel" aria-labelledby="sunday-tab">
<div class="row">
<div class="col-md-3">
<img src="{% static 'image/su.jpg' %}" height="400px" width="100%">
<h5>Quick and Easy Healthy Breakfast Idea</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/su1.jpg' %}" height="400px" width="100%">
<h5>Deliciously spicy Thai chili crab recipe</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/su2.jpg' %}" height="400px" width="100%">
<h5>Pumpkin soup with cheese and cinnamon</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/su3.jpg' %}" height="400px" width="100%">
<h5>Avocado toast with spinach and poach egg
Learn more</h5>
</div>
</div>

</div>
</div>
</div>


<div class="row p-3">
</div>

{% endblock %}


