{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row " id="banner5">
<div class="col-md-12">
<h1 class="text-center style8 display-1">Breakfast</h1>
</div>
</div>



<div class="row p-5">
<div class="col-md-8">
<div data-aos="fade-up"
	 data-aos-duration="3000">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/ivyFt_buEGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-4">
<h6>Olives are rich in vitamin E and other antioxidants, which may help reduce the risk of health conditions like cancer, diabetes, stroke, and heart disease.</h6>
<p>It's also an excellent source of:</p>
<ul type="circle">
<li>Vitamin A.</li>
<li>Copper.</li>
<li>Calcium.</li>
<li>Iron.</li>
</ul>
</div>
</div>


<div class="row p-5">
<div class="col-md-4">
<h4 class="display-6">A Source of Iron</h4>
<p>Pancakes pump iron? Yep, it's true! A serving of whole-wheat pancakes will net you about 3 milligrams of this essential mineral, which is between 16 and 38 percent of the iron you need to consume daily, depending on your age and sex, while buttermilk pancakes have almost 2 milligrams.
</br>
Like carbs, iron contributes to the energizing properties of pancakes, since it plays a key role in oxygenating your tissues so they can produce the fuel they need. Iron is also important for the function of certain immune cells, so getting enough of it in your diet can help you fight off disease.
</p>
</div>
<div class="col-md-8">
<div data-aos="fade-up"
	data-aos-duration="3000">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/DnuH1Yggnjw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</div>




<div class="row p-5">
<div class="col-md-8">
<div data-aos="fade-up"
	 data-aos-duration="3000">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/WZWiHhl94LA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-4">
<h4 class="display-6">Oatmeal also</h4>
<ul type="circle">
<li>Lowers blood sugar levels.</li>
<li>Provides antioxidants.</li>
<li>Promotes healthy bacteria in your gut.</li>
<li>Helps you to feel full to manage your weight.</li>
<li>Eases constipation.</li>
<li>Relieves skin itching and irritation.</li>
<li>Lowers your chance of colon cancer.</li>
</ul>
</div>
</div>




{% endblock %}