{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row " id="banner8">
<div class="col-md-12">
<h1 class="text-center style8 display-1">Dinner</h1>
</div>
</div>


<div class="row p-5">
<div class="col-md-8">
<div data-aos="fade-up"
	 data-aos-duration="3000">
<iframe width="100%" height="375" src="https://www.youtube.com/embed/M8Xherosmfs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-4">
<h6 class="display-6">A single large boiled egg contains</h6>
<ul type="circle">
<li>Vitamin A: 6% of the RDA</li>
<li>Folate: 5% of the RDA</li>
<li>Vitamin B5: 7% of the RDA</li>
<li>Vitamin B12: 9% of the RDA</li>
<li>Vitamin B2: 15% of the RDA</li>
<li>Phosphorus: 9% of the RDA</li>
<li>Selenium: 22% of the RDA</li>
</ul>
<p>Eggs also contain decent amounts of vitamin D, vitamin E, vitamin K, vitamin B6, calcium and zinc</p>
</div>
</div>



<div class="row p-5">
<div class="col-md-4">
<h6 class="display-6">Benefits of rice</h6>
<p>Rice is such an important food in some countries that "to eat" means "to eat rice." Nearly half of the people in the world get approximately 50% of their calories from rice. Without rice, or something to take the place of rice, many people would go hungry.

Botanically, rice is the seed of an aquatic grass. It has been cultivated for more than 8,000 years. The Latin name for rice is Oryza sativa. There are many varieties of rice, such as arborio, jasmine, and basmati. It also comes in red, black, and purple, with the colors coming from pigments in the bran layer. The more you learn about the different types of rice, the more you'll appreciate this simple food.

</p>
</div>
<div class="col-md-8"
<div data-aos="fade-up"
	data-aos-duration="3000">>
<iframe width="100%" height="375" src="https://www.youtube.com/embed/DckM-cC-qI8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>




<div class="row p-5">
<div class="col-md-8">
<div data-aos="fade-up"
	 data-aos-duration="3000">
<iframe width="100%" height="375" src="https://www.youtube.com/embed/PZHAQdXOmgg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-4">
<h6 class="display-6">Benefits of Vegetable</h6>
<p>Vegetable is a broad term that refers to the edible parts of plants, which are usually their leaves, roots, fruits, or seeds. Vegetables are a staple food across the world and are a fundamental part of modern agriculture. 

Since they’re low in calories but high in nutrients, most health experts recommend that you consume vegetables daily. There’s a scientific consensus that a balanced, rotating diet of different varieties of vegetables is one of the best ways to source nutrients from your food starting at a young age. </p>
</div>
</div>




{% endblock %}