{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row " id="banner1">
<div class="col-md-12">
<h1 class="text-center style8 display-1"> Our Services</h1>
</div>
</div>



<div class="row p-5" id="style9">
<div class="col-md-10 offset-1">
<div class="d-flex align-items-start" id="style9">
<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
<h2>Our Services</h2>
<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Balance Body & Mind</button>
<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Personalized Nutrition</button>
<button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Fitness & Performance</button>
<button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Healthy Daily Life</button>
<button class="nav-link" id="v-pills-setting-tab" data-bs-toggle="pill" data-bs-target="#v-pills-setting" type="button" role="tab" aria-controls="v-pills-setting" aria-selected="false">Support & Motivation</button>
<h2 class="">Contact Info</h2>
<nav>
<ul class="nav">
<li><a class="nav-link" href="/contect/">Email info@example.com</a></li>
<li><a class="nav-link" href="/contect/">Phone Number(+44) 123 456 789</a></li>
<li><a class="nav-link" href="/contect/">Location Guild Street 51, North Town</a></li>
</ul>
</nav>
<div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
<img src="{% static 'image/ser2.jpg' %}" height="400px" width="100%"/>
</div>
</div>
  
  
  
  
<div class="tab-content" id="v-pills-tabContent style9">
<div class="tab-pane fade show active" id="v-pills-home space" role="tabpanel" aria-labelledby="v-pills-home-tab">
<div class="col-md-12">
<div data-aos="fade-up-left"
	data-aos-duration="3000">
<img src="{% static 'image/bala.jpg' %}" height="400px" width="100%"/>
</div>
<div data-aos="fade-up"
     data-aos-duration="3000">
<h4 class="display-4 pt-3">Balance Body & Mind</h4>
<p>Balance body & mind sit amet consectetur adipisicing elit. One thing is for certain: Balance can't be taken for granted past a certain age; it must be maintained — both in mind and body. Laudantium asperiores eos obcaecati nostrum sed, corporis placeat quasi pariatur id, est iure, minus quibusdam! Facilis laudantium vero</p>
<p>If you've ever seen a friend or family member fall and suffer a major fracture, you know it's serious business. It seems obvious that general physical fitness and targeted exercises can improve balance and prevent falls. But you might be surprised to learn that staying mentally active to maintain cognitive fitness also plays a big role.</p>
</div>
<div class="row">
<div class="col-md-6">
<div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
<img src="{% static 'image/ser3.jpg' %}" height="400px" width="100%"/>
</div>
</div>
<div class="col-md-6">
<h3 class="display-5">Key Benefits</h3>
<p>How do we keep our balance? The </br>inner ear, which senses head motions, is an</br> important part of the intricate system of balance.</p>
<h5>Nutritional assessment</h5>
<h5>Meal planning and analysis</h5>
<h5>Weight assessment</h5>
<h5>Client monitoring in real-time</h5>
<h5>Physical activities</h5>
</div>
</div>
</div>
</div>


<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
<div class="col-md-12">
<div data-aos="fade-up"
     data-aos-duration="3000">
<img src="{% static 'image/ssl.jpg' %}" height="400px" width="100%"/>
</div>
<div data-aos="fade-up"
     data-aos-duration="3000">
<h4 class="display-4 pt-3">Personalized Nutrition</h4>
<p>Comprehensively, personalized nutrition is the associated individual's genetic, phenotypic, medical, nutritional, and other important information's which is intended to pitch specific healthy eating and nutritional guidance as per need.</p>
</div>
</div>
<div class="row">
<div class="col-md-4">
<img src="{% static 'image/i1.jpg' %}" height="300px" width="100%"/>
</div>
<div class="col-md-4">
<img src="{% static 'image/i2.jpg' %}" height="300px" width="100%"/>
</div>
<div class="col-md-4">
<img src="{% static 'image/i3.jpg' %}" height="300px" width="100%"/>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h4 class="display-6 pt-3">Why Is It Best?</h4>
<p>It is a well-established truth that dietary factors are the contributors to many of the common diseases, specially heart ailments, type II diabetes, cancer etc (Micha et al., 2017). This fact suggests the personalization of dietary habits that may be more impactful in changing behavior and ultimate health outcomes (Ordovas et al., 2018). </p>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="row">
<div class="col-md-6">
<img src="{% static 'image/hh.jpg' %}" height="70px" width="80%"/>
</div>
<div class="col-md-6">
<h4>Heart Healthy</h4>
<p>Eat smaller amounts of high-calorie, high-sodium foods, such as refined, processed or fast foods.</p>
</div>
</div>
</div>
<div class="col-md-6">
<div class="row">
<div class="col-md-6">
<img src="{% static 'image/lll.jpg' %}" height="70px" width="80%"/>
</div>
<div class="col-md-6">
<h4>Low Carb</h4>
<p>A low-carb diet is a diet that restricts carbohydrates, such as those found in sugary foods, pasta and bread. It is high in protein, fat and healthy vegetables.</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="row">
<div class="col-md-6">
<img src="{% static 'image/dt.jpg' %}" height="70px" width="80%"/>
</div>
<div class="col-md-6">
<h4>Diabetic</h4>
<p>Food we eat is broken down into fuel called Glucose. Glucose enters the bloodstream and travels to the cells to be used as fuel. </p>
</div>
</div>
</div>
<div class="col-md-6">
<div class="row">
<div class="col-md-6">
<img src="{% static 'image/ll.webp' %}" height="70px" width="80%"/>
</div>
<div class="col-md-6">
<h4>Low Sodium</h4>
<p>reduce blood pressure and risk of cardiovascular disease, stroke and coronary heart attack.</p>
</div>
</div>
</div>
</div>
</div>



<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
<img src="{% static 'image/q1.jpg' %}" height="400px" width="100%"/>
<div class="row">
<div class="col-md-12">
<h4 class="display-4 pt-3">Fitness & Performance</h4>
<p>Fitness & performance sit exercise can help prevent excess weight gain or help maintain weight loss. When you engage in physical activity, you burn calories. The more intense the activity, the more calories you burn.</p>
<p>Regular trips to the gym are great, but don't worry if you can't find a large chunk of time to exercise every day. Any amount of activity is better than none at all. To reap the benefits of exercise, just get more active throughout your day — take the stairs instead of the elevator or rev up your household chores. Consistency is key</p>
</div>
</div>
<div class="row" id="wt">
<div class="col-md-12">
<p class="text-center">66</br>Thanks for the great service. I didn't even need </br>training. I love fitness. Fitness impressed me on multiple levels.</p>
<div class="row">
<div class="col-md-6">
<img src="{% static 'image/q2.jpg' %}" height="400px" width="100%"/>
</div>
<div class="col-md-6">
<img src="{% static 'image/q3.jpg' %}" height="400px" width="100%"/>
</div>
</div>
</div>
</div>
</div>




<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
<img src="{% static 'image/h1.jpg' %}" height="400px" width="100%"/>
<div class="row">
<div class="col-md-12">
<h4 class="display-4 pt-3">Healthy Daily Life</h4>
<p>Under normal circumstances, most of us have some sort of routine..We rise at an appointed time because we need to be at work, or an appointment. Maybe we will meet friends for our power walk or begin our breakfast routine. But with the limitations recommended for gathering, working and socializing due to coved-19 protocols, many of our “hardwired” routines have fallen by the wayside. </p>
<p>It takes 3 weeks to form a new habit. And forming a new routine is just a more positive way of saying, “I want to create new habits that will improve my life!”. Starting with small things, you can make large constructive changes in your health and your life over time.</p>
<h4 class="display-6 pt-3">Our Challenges And Solutions</h4>
<p>We stress on our programme that the best way to  is to tie them to ‘triggers’ in our daily routine. For example, practising deep breathing for 2 minutes every morning after you make your bed, where the trigger is making your bed. When our daily routine changes, even slightly, we might struggle to keep up our healthy habits.</p>
<div class="row">
<div class="col-md-6">
<img src="{% static 'image/h2.jpg' %}" height="400px" width="100%"/>
</div>
<div class="col-md-6">
<img src="{% static 'image/h3.jpg' %}" height="400px" width="100%"/>
</div>
</div>
</div>
</div> 
</div> 


<div class="tab-pane fade" id="v-pills-setting" role="tabpanel" aria-labelledby="v-pills-setting-tab">
<div class="row">
<div class="col-md-8">
<img src="{% static 'image/e1.jpg' %}" height="400px" width="100%"/>
</div>
<div class="col-md-4">
<img src="{% static 'image/e2.jpg' %}" height="200px" width="100%"/>
<img src="{% static 'image/e3.jpg' %}" height="200px" width="100%"/>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h4 class="display-4 pt-3">Support & Motivation</h4>
<p>This article explains the reasons why understanding human motivation is important and well worth the time spent on learning to increase it. It lists many benefits of healthy motivation and distinguishes the types of motivation that are more effective in dealing with our complex and rapidly changing environment.</p>
<p>Before you continue, we thought you might like to download our three Goal Achievement Exercises for free. These detailed, science-based exercises will help you or your clients create actionable goals and master techniques to create lasting behavior change.</p>
<h4 class="display-6 pt-3">Our Challenges And Solutions</h4>
<p>It’s totally normal for employees to face dips in motivation, but it becomes a problem when your colleagues are consistently disengaged. That's why we gathered some great tips from experts on how to motivate your employees, day in and day out.</p>
</div>
</div>
</div>

</div> 
</div> 
</div> 
</div> 

<div class="row p-5">
<div class="col-md-12">
<div data-aos="flip-up"
	 data-aos-duration="3000">
<h5 class="display-5">Our Strategies</h5>
<p>Nutrition is the science that interprets the interaction of nutrients and other substances in food in relation to maintenance, growth, reproduction, health and disease of an organism. It includes food intake, absorption, assimilation, biosynthesis, catabolism, and excretion. Food was classified into “hot” and “cold” in China, India, Malaya, and Persia. About the same time in Italy, Alcmaeon of Croton wrote of the importance of equilibrium between what goes in and what goes out, and warned that imbalance would result in disease marked by obesity or emaciation.</p>
</div>
</div>
</div>

<div class="row p-3" id="style10">
<div class="col-md-4">
<img src="{% static 'image/sch.webp' %}" height="80px" width="30%"/>
<h5 class="text-center">Schedule Exercise</h5>
<p class="text-center">Physician Herman Boerhaave</br> modeled the digestive process.</p>
</div>
<div class="col-md-4">
<img src="{% static 'image/Tru.png' %}" height="80px" width="30%"/>
<h5 class="text-center">Trusted Services</h5>
<p class="text-center">Physician Herman Boerhaave</br> modeled the digestive process.</p>
</div>
<div class="col-md-4">
<img src="{% static 'image/best.png' %}" height="80px" width="30%"/>
<h5 class="text-center">Best Nutritionist</h5>
<p class="text-center">Physician Herman Boerhaave</br> modeled the digestive process.</p>
</div>
</div>

{% endblock %}