{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row " id="banner7">
<div class="col-md-12">
<h1 class="text-center style8 display-1">Snacks</h1>
</div>
</div>

<div class="row p-5">
<div class="col-md-8">
<div data-aos="fade-up"
	 data-aos-duration="3000">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/d1qo17ydp48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-4">
<h4 class="display-6">Rich in antioxidants and phytochemicals</h4>
<p>Improve blood pressure. Nearly half of Americans have high blood pressure, according to the CDC</p>
<ul type="circle">
<li>Up your fiber</li>
<li>Help your eyes</li>
<li>Improve your skin</li>
<li>Reduce risk of heart disease </li>
<li>Reduce risk of heart disease</li>
<li>Reduce risk of cancer</li>
</ul>
</div>
</div>


<div class="row p-5">
<div class="col-md-4">
<h4 class="display-6">Health Benefits of Jaggery</h4>
<ul type="circle">
<li>Prevention of respiratory problems</li>
<li>Helps with weight loss</li>
<li>Controls blood pressure</li>
<li>Great source of energy</li>
<li>Relieves menstrual pain</li>
<li>Prevents anemia</li>
<li>Purifies the body</li>
<li>Detoxification of the liver</li>
</ul>
</div>
<div class="col-md-8">
<div data-aos="fade-up"
	data-aos-duration="3000">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/uSDycTAEeSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</div>

<div class="row p-5">
<div class="col-md-8">
<div data-aos="fade-up"
	 data-aos-duration="3000">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/9hN-XywAW54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-4">
<h4 class="display-6">Oatmeal also</h4>

Lowers blood sugar levels.
Provides antioxidants.
Promotes healthy bacteria in your gut.
Helps you to feel full to manage your weight.
Eases constipation.
Relieves skin itching and irritation.
Lowers your chance of colon cancer.</p>
</div>
</div>


{% endblock %}