{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
<div class="col-md-3">
<img src="{% static 'image/su.jpg' %}" height="400px" width="100%">
<h5>Quick and Easy Healthy Breakfast Idea</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/su1.jpg' %}" height="400px" width="100%">
<h5>Deliciously spicy Thai chili crab recipe</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/su2.jpg' %}" height="400px" width="100%">
<h5>Pumpkin soup with cheese and cinnamon</h5>
</div>
<div class="col-md-3">
<img src="{% static 'image/su3.jpg' %}" height="400px" width="100%">
<h5>Avocado toast with spinach and poach egg
Learn more</h5>
</div>
</div>
</div>

{% endblock %}
